body {
  margin: 0;
  padding: 0;
  font-family: "Canbin", sans-serif !important;
  background: rgb(2, 0, 13);
}

.col {
  background: rgb(241, 5, 178);
  width: auto;
  margin: 5px;
  padding: 10px;
}
.article-image {
  /* transition: transform 0.3s; */
  float: left !important;
  /* margin-top: 30px; */
}

.mi-seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Controla el espacio entre las imágenes */
}

/* Estilo para las imágenes */
.mi-seccion article {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Mantiene la proporción de aspecto original de la imagen */
  margin-bottom: 5px; /* Agrega espacio entre las imágenes (opcional) */
}

.article-image {
  position: relative;
}
.bi-heart,
.bi-heart-fill {
  color: red;
  position: absolute;
  top: 15px;
  right: 10px;
  justify-content: center;
}
