<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css" />
    <script  async src="js/my_script.js"> </script>

    <title>Gatitos aleatorios</title>
</head>

<body>

    <div class="container text-center">
        <div class="row align-items-center justify-content-center">
            <div class="col d-flex  flex-column justify-content-center">
                <h1 class="text-warning">Michis App</h1>
                <span class="text-warning" id="error"></span>
                <h2 class="text-warning">Michis aleatorios</h2>
                <section class="mi-seccion d-flex align-items-center justify-content-center"
                    id="randomMichis text-center">
                    <article class="article-image p-1 d-flex align-items-center">
                        <img class=" image rounded mx-auto d-block" id="img1" width="300" height="200"
                            alt="Foto gatito aleatorio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16" id="btn1">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </article>

                    <article class="article-image p-1 d-flex align-items-center">
                        <img class=" image rounded mx-auto d-block" id="img2" width="300" height="200"
                            alt="Foto gatito aleatorio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16" id="btn2">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </article>
                    <article class="article-image p-1 d-flex align-items-center">
                        <img class=" image rounded mx-auto d-block" id="img3" width="300" height="200"
                            alt="Foto gatito aleatorio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16" id="btn3">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </article>
                    <article class="article-image p-1 d-flex align-items-center">
                        <img class=" image rounded mx-auto d-block" id="img4" width="300" height="200"
                            alt="Foto gatito aleatorio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16" id="btn4">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </article>

                </section>
                <button onclick="loadRandomMichis()" type="button"
                    class="btn btn-warning mx-auto w-50 text-center">CAMBIAR</button>
                <!-- <button onclick="loadRandomMichis()" class="w-25">CAMBIAR</button> -->
                <section id="uploadingMichi">
                    <h2 class="pt-3 text-warning">Sube la foto de tu michi</h2>
                    <form id="uploadingForm">
                        <input id="file" type="file" name="file" />
                        <button type="button" onclick="uploadMichiPhoto()">Subir foto de michi</button>
                    </form>
                </section>

                <h2 class="text-warning pt-3">Michis favoritos</h2>
                <section id="favoriteMichis">
                    <!-- <article>
                        <img id="img1" width="150" alt="Foto gatito aleatorio">
                        <button>Sacar al michi de favoritos</button>
                    </article> -->

                    <article class="article-image p-1 d-flex align-items-center">
                        <img class=" image rounded mx-auto d-block" id="img1" width="300" height="200"
                            alt="Foto gatito aleatorio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16" id="btn3">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                        <button>Sacar al michi de favoritos</button>

                    </article>



                </section>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>